<h1>Users#graph</h1>
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script type="text/javascript">




google.load("visualization", "1", {packages:["corechart"]});


google.setOnLoadCallback(drawChart);


function drawChart() {


var data = google.visualization.arrayToDataTable(gon.graph)


var options = {
title: '会社業績'
};


var chart = new google.visualization.LineChart(document.getElementById('chart_div'));

chart.draw(data, options);

}
</script>

<body>
  <div id="chart_div" style="width: 600px; height: 400px;"></div>
</body>
